USE [master]
GO
/****** Object:  Database [Sports]    Script Date: 10/18/2015 9:34:55 PM ******/
CREATE DATABASE [Sports]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sports', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Sports.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Sports_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Sports_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sports].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sports]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 10/18/2015 9:34:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[HomeTeamID] [int] NULL,
	[GuestTeamID] [int] NULL,
	[HomeTeamGoals] [nchar](10) NULL,
	[GuestTeamGoals] [nchar](10) NULL,
	[Attendnce] [int] NULL,
	[Date] [datetime] NULL,
	[RoundID] [int] NULL,
	[StadiumID] [int] NULL,
 CONSTRAINT [PK_Matches] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MatchesStadiums]    Script Date: 10/18/2015 9:34:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchesStadiums](
	[MatchID] [int] NOT NULL,
	[StadiumID] [int] NOT NULL,
 CONSTRAINT [PK_MatchesStadiums] PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC,
	[StadiumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rounds]    Script Date: 10/18/2015 9:34:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rounds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SeasoneID] [int] NULL,
	[Number] [int] NULL,
 CONSTRAINT [PK_Rounds] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Seasones]    Script Date: 10/18/2015 9:34:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seasones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[StartDate] [date] NULL,
 CONSTRAINT [PK_Seasones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stadiums]    Script Date: 10/18/2015 9:34:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stadiums](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Stadiums] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 10/18/2015 9:34:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Rounds] FOREIGN KEY([RoundID])
REFERENCES [dbo].[Rounds] ([id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Rounds]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Teams] FOREIGN KEY([HomeTeamID])
REFERENCES [dbo].[Teams] ([id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Teams]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Teams1] FOREIGN KEY([GuestTeamID])
REFERENCES [dbo].[Teams] ([id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Teams1]
GO
ALTER TABLE [dbo].[MatchesStadiums]  WITH CHECK ADD  CONSTRAINT [FK_MatchesStadiums_Matches] FOREIGN KEY([MatchID])
REFERENCES [dbo].[Matches] ([id])
GO
ALTER TABLE [dbo].[MatchesStadiums] CHECK CONSTRAINT [FK_MatchesStadiums_Matches]
GO
ALTER TABLE [dbo].[MatchesStadiums]  WITH CHECK ADD  CONSTRAINT [FK_MatchesStadiums_Stadiums] FOREIGN KEY([MatchID])
REFERENCES [dbo].[Stadiums] ([id])
GO
ALTER TABLE [dbo].[MatchesStadiums] CHECK CONSTRAINT [FK_MatchesStadiums_Stadiums]
GO
ALTER TABLE [dbo].[Rounds]  WITH CHECK ADD  CONSTRAINT [FK_Rounds_Seasones] FOREIGN KEY([SeasoneID])
REFERENCES [dbo].[Seasones] ([id])
GO
ALTER TABLE [dbo].[Rounds] CHECK CONSTRAINT [FK_Rounds_Seasones]
GO
USE [master]
GO
